<!--div class="slides slide-{{ $index }}" style="height: {{ window.innerHeight - ($index == 0 ? 51 : 0 )}}px;" ng-repeat="s in slides" ng-click="scrollToNext($index)">
   <p>{{ s.text }}</p>
</div-->

<tutorial>
   <svg id="tutorial" style="width: 800px; height: 700px"></svg>
</tutorial>

<div class="center-wrapper">
   <span class="btn" id="prev"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;previous</span>
   <span class="btn" id="next">next&nbsp;<i class="fa fa-arrow-circle-o-right"></i></span>
</div>
