<!--div class="slides slide-{{ $index }}" style="height: {{ window.innerHeight - ($index == 0 ? 51 : 0 )}}px;" ng-repeat="s in slides" ng-click="scrollToNext($index)">
   <p>{{ s.text }}</p>
</div-->

<div id="guide-text" style="width: 500px; height: 100px; margin 0 auto;"></div>

<svg tutorialcontainer style="width: 500px; height: 500px; margin: 0 auto;">
   <g id="board"></g>
   <g id="game"></g>
   <g id="effects"></g>
</svg>

<div class="center-wrapper">
   <button onclick="POOPSLIDE.gotoPrevSlide()">previous slide</button>
   <button onclick="POOPSLIDE.gotoNextSlide()">next slide</button>
</div>
